body {
  margin: 0;
  overflow: hidden;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: indianred;
}

.time {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  font-size: 2rem;
  color: white;
}

#button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: #FFF;
    opacity: .9;
    z-index: 999;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}